{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{% block link%}
  <ul id="nav-mobile" class="right">
    <li><a href="/signup">Sign Up</a></li>
  </ul>
{%endblock %}

{% block content %}

<main class="container" style= "margin-top: 100px;">
  <form class="card col s12"id="loginForm" method="POST" action="/login" style="padding:1em">

    div class="row">
      <div class="input-field col s12>
        input placerholder="Placeholder" "name=name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <input placeholder="Password" type="password" class="validate">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="card-action row">
      <input type="submit" class="btn waves-effect waves-light purple" value="Login">
    </div>
  </form>
</main>
{% endblock %}